<!DOCTYPE html>
<html>
    <head>
        <title>Vue 3 Basics</title>
        <style>
            .box {
                background-color: purple;
                height: 200px;
                width: 200px;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <button @click="toggleBox">Toggle Box</button>
            <login-form v-if="isVisible" />
            <test-box v-if="isVisible" />
        </div>

        <script src="https://unpkg.com/vue@next"></script>
        <script src="app.js"></script>
    </body>
</html>